body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: rgb(101, 102, 102);
	color: black;
	height: 90px;

	width: 100%;

	padding: 0 80px;
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav .nav-link {
	color: black;
	font-size: 3rem;
}
